.App {
    font-family: sans-serif;
    text-align: center;
}

button {
    font: inherit;
    font-size: 0.85rem;
    background-color: #282f33;
    border: none;
    border-bottom-color: #48d9f3;
    color: #e0eff1;
    border-radius: 4px 4px 0 0;
    padding: 0.75rem 1rem;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

button.active {
    background-color: #48d9f3;
    color: #080a0a;
}